<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LoginTestSuite" parallel="classes">
    <test name="Android_EmulatorTest" preserve-order="true">
        <parameter name="deviceName" value="Pixel_XL_API_26"/>
        <parameter name="platformName" value="Android"/>
        <parameter name="app" value="C:\\Users\\tangutp\\Documents\\Testing\\Testing\\src\\app-debug.apk"/>
        <parameter name="URL_" value="http://127.0.0.1:4723/wd/hub"/>
        <!--<parameter name="extentConfigFile" value="C:\\Users\\tangutp\\Documents\\Testing\\Testing\\src\\main\\resources\\extent-config.xml"/>-->
        <parameter name="extentConfigFile" value="C:\\Users\tangutp\\Documents\\Testing\\Testing\\src\\main\\java\\TestResults\\MyReport.html"/>
        <parameter name="exportTestSummaryReport" value="C:\\Users\tangutp\\Documents\\Testing\\Testing\\src\\main\\java\\TestResults\\RegressionReport_klov.html"/>
        <parameter name="replaceExistingReport" value="false"/>
        <parameter name="takeScreenShotForFailedTestCase" value="true"/>
        <parameter name="takeScreenShotForPassedTestCase" value="false"/>
        <parameter name="captureVideo" value="false"/>


        <classes>
            <class name="Tests.LoginTest_Klov"/>
            <!--<class name="Tests.ForgotPasswordTest"/>-->
        </classes>
    </test>

    <!--<test name="Android_EmulatorTest2" preserve-order="true">-->
        <!--<parameter name="deviceName" value="Nexus_6P_API_25"/>-->
        <!--<parameter name="platformName" value="Android"/>-->
        <!--<parameter name="app" value="C:\\Users\\tangutp\\Documents\\Testing\\Testing\\src\\app-debug.apk"/>-->
        <!--<parameter name="URL_" value="http://127.0.0.1:3456/wd/hub"/>-->
        <!--<parameter name="extentConfigFile" value="C:\\Users\\tangutp\\Documents\\Testing\\Testing\\src\\main\\resources\\extent-config.xml"/>-->
        <!--<parameter name="exportTestSummaryReport" value="C:\\Users\tangutp\\Documents\\Testing\\Testing\\src\\main\\java\\TestResults\\TestResultSummary2.html"/>-->
        <!--<parameter name="replaceExistingReport" value="false"/>-->
        <!--<classes>-->
            <!--<class name="Tests.LoginTest"/>-->
        <!--</classes>-->
    <!--</test>-->

</suite>

